.App {
    max-width: 600px;
    margin: auto;

    @media(max-width: 992px) {
        max-width: 725px;
    }

    @media(max-width: 768px) {
        max-width: 545px;
    }

    h1 {
        margin: 2rem 0;
    }

    .width {
        max-width: 300px;
        margin: 1rem auto 0;
    }

    .box-style {
        padding: .375rem 1rem;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: .25rem;

        &.orange {
            background-color: #ffc107 !important;
            color: #000;
        }
    }

    .guitar-neck {
        position: relative;
        height: 490px;

        .background {
            position: absolute;
            background: url('./assets/images/fender-strat-neck.png');
            background-repeat: no-repeat !important;
            background-position: center center !important;
            height: 490px;
            width: 80%;
            z-index: 1;
            right: 4%;
            overflow: hidden;
        }

        .overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 100;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease;

            &.tuning {
                opacity: 1;
                visibility: visible;
            }

            div {
                max-width: 200px;
            }
        }
    }


    .guitar-keys {
        transform: rotate(15deg);
        position: absolute;
        height: 100%;
        width: 100%;

        img {
            position: absolute;
            width: 30px;

            &.rotate {
                -webkit-animation-name: spinner;
                -webkit-animation-timing-function: linear;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-duration: 2s;
                animation-name: spinner;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-duration: 2s;
                -webkit-transform-style: preserve-3d;
                -moz-transform-style: preserve-3d;
                -ms-transform-style: preserve-3d;
                transform-style: preserve-3d;
            }

            &.key-0 {
                bottom: 32.5%;
                left: 6.5%;
                animation-delay: 1.2s;
            }

            &.key-1 {
                bottom: 43%;
                left: 7%;
                animation-delay: 1s;
            }

            &.key-2 {
                bottom: 53.5%;
                left: 8%;
                animation-delay: .8s;
            }

            &.key-3 {
                bottom: 64%;
                left: 9%;
                animation-delay: .6s;
            }

            &.key-4 {
                bottom: 74.5%;
                left: 10.5%;
                animation-delay: .4s;
            }

            &.key-5 {
                bottom: 85.5%;
                left: 11%;
                animation-delay: .2s;
            }
        }
    }

    .strings {
        .string {
            position: absolute;
            bottom: 0;
            height: 17%;
            width: 2px;


            &.string-1 {
                right: 75%;
                background: #d3cdca;
            }

            &.string-2 {
                right: 68.5%;
                background: #b3b1ae;
            }

            &.string-3 {
                right: 62%;
                background: #b3b1ae;
            }

            &.string-4 {
                right: 55%;
                background: #978a85;
            }

            &.string-5 {
                right: 48.5%;
                background: #cab199;
            }

            &.string-6 {
                right: 42%;
                background: #a49080;
            }
        }
    }

    .string-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;

        li {
            width: 35px;
            height: 35px;
            font-size: .9rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem 0 0;
            border-radius: 50px;
            border: 1px solid rgba(0, 0, 0, .125);
            font-weight: 700;
            cursor: pointer;
            position: relative;
            

            &.bounceIn {
                opacity: 0;
                animation-name: bounceIn;
                animation-duration: 450ms;
                animation-timing-function: linear;
                animation-fill-mode: forwards;
                transition: all .3s ease;

                &:nth-child(1) {
                    animation-delay: .2s;
                }
    
                &:nth-child(2) {
                    animation-delay: .4s;
                }
    
                &:nth-child(3) {
                    animation-delay: .6s;
                }
    
                &:nth-child(4) {
                    animation-delay: .8s;
                }
    
                &:nth-child(5) {
                    animation-delay: 1s;
                }
    
                &:nth-child(6) {
                    animation-delay: 1.2s;
                }
            }

            &:focus,
            &:focus:after,
            &:hover,
            &:hover:after,
            &.active,
            &.active:after {
                background: #ffc107 !important;
            }

            &:after {
                content: '';
                position: absolute;
                width: 300%;
                height: 2px;
                left: 100%;
                top: 19px;
                pointer-events: none;
                transition: all .3s ease;
            }
        }
    }
}

/*! * * * * * * * * * * * * * * * * * * * *\  
	CSShake :: shake-horizontal
	v1.5.0
	CSS classes to move your DOM
	(c) 2015 @elrumordelaluz
	http://elrumordelaluz.github.io/csshake/
	Licensed under MIT
	\* * * * * * * * * * * * * * * * * * * * */
.shake-horizontal {
    display: inherit;
    transform-origin: center center;
    background: #ffc107 !important;
}

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
    animation-play-state: paused;
}

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze,
.shake-horizontal:hover,
.shake-trigger:hover .shake-horizontal {
    animation-play-state: running;
}

.shake-horizontal:hover,
.shake-trigger:hover .shake-horizontal,
.shake-horizontal.shake-freeze,
.shake-horizontal.shake-constant {
    animation-name: shake-horizontal;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes spinner {
	from {
		-webkit-transform: rotateX(0deg);
	}

	to {
		-webkit-transform: rotateX(360deg);
	}
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3) translate3d(0, 0, 0);
    }

    50% {
        opacity: 0.9;
        transform: scale(1.1);
    }

    80% {
        opacity: 1;
        transform: scale(0.89);
    }

    100% {
        opacity: 1;
        transform: scale(1) translate3d(0, 0, 0);
    }
}

@keyframes shake-horizontal {
	2% {
		transform: translate(-2px, 0) rotate(0);
	}

	4% {
		transform: translate(2px, 0) rotate(0);
	}

	6% {
		transform: translate(-2px, 0) rotate(0);
	}

	8% {
		transform: translate(2px, 0) rotate(0);
	}

	10% {
		transform: translate(-2px, 0) rotate(0);
	}

	12% {
		transform: translate(2px, 0) rotate(0);
	}

	14% {
		transform: translate(-2px, 0) rotate(0);
	}

	16% {
		transform: translate(2px, 0) rotate(0);
	}

	18% {
		transform: translate(-2px, 0) rotate(0);
	}

	20% {
		transform: translate(2px, 0) rotate(0);
	}

	22% {
		transform: translate(-2px, 0) rotate(0);
	}

	24% {
		transform: translate(2px, 0) rotate(0);
	}

	26% {
		transform: translate(-2px, 0) rotate(0);
	}

	28% {
		transform: translate(2px, 0) rotate(0);
	}

	30% {
		transform: translate(-2px, 0) rotate(0);
	}

	32% {
		transform: translate(2px, 0) rotate(0);
	}

	34% {
		transform: translate(-2px, 0) rotate(0);
	}

	36% {
		transform: translate(-2px, 0) rotate(0);
	}

	38% {
		transform: translate(2px, 0) rotate(0);
	}

	40% {
		transform: translate(-2px, 0) rotate(0);
	}

	42% {
		transform: translate(2px, 0) rotate(0);
	}

	44% {
		transform: translate(-2px, 0) rotate(0);
	}

	46% {
		transform: translate(2px, 0) rotate(0);
	}

	48% {
		transform: translate(-2px, 0) rotate(0);
	}

	50% {
		transform: translate(2px, 0) rotate(0);
	}

	52% {
		transform: translate(-2px, 0) rotate(0);
	}

	54% {
		transform: translate(2px, 0) rotate(0);
	}

	56% {
		transform: translate(-2px, 0) rotate(0);
	}

	58% {
		transform: translate(2px, 0) rotate(0);
	}

	60% {
		transform: translate(-2px, 0) rotate(0);
	}

	62% {
		transform: translate(2px, 0) rotate(0);
	}

	64% {
		transform: translate(-2px, 0) rotate(0);
	}

	66% {
		transform: translate(2px, 0) rotate(0);
	}

	68% {
		transform: translate(-2px, 0) rotate(0);
	}

	70% {
		transform: translate(2px, 0) rotate(0);
	}

	72% {
		transform: translate(-2px, 0) rotate(0);
	}

	74% {
		transform: translate(2px, 0) rotate(0);
	}

	76% {
		transform: translate(-2px, 0) rotate(0);
	}

	78% {
		transform: translate(2px, 0) rotate(0);
	}

	80% {
		transform: translate(-2px, 0) rotate(0);
	}

	82% {
		transform: translate(2px, 0) rotate(0);
	}

	84% {
		transform: translate(-2px, 0) rotate(0);
	}

	86% {
		transform: translate(2px, 0) rotate(0);
	}

	88% {
		transform: translate(-2px, 0) rotate(0);
	}

	90% {
		transform: translate(2px, 0) rotate(0);
	}

	92% {
		transform: translate(-2px, 0) rotate(0);
	}

	94% {
		transform: translate(2px, 0) rotate(0);
	}

	96% {
		transform: translate(-2px, 0) rotate(0);
	}

	98% {
		transform: translate(2px, 0) rotate(0);
	}

	100% {
		transform: translate(0, 0) rotate(0);
	}
}